<section id="about" class="about-section section">

        <div class="container">

          <h2 class="section-heading text-center">About Sumasika</h2>

          <div class="about-row row">

            <!-- DESCRIPTION IMAGE -->
            <div class="about-image col-md-6" data-animation="fadeIn">
              <img src="assets/contents/about.jpg" alt="Description Image">
            </div>

            <!-- DESCRIPTION TEXT -->
            <div class="about-text col-md-6">
              <p class="lead">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat arcu ut orci porta, eget porttitor felis suscipit. Sed a nisl ullamcorper, tempus augue at, rutrum lacus. Duis et turpis eros. Duis ex metus, facilisis nec porta non, accumsan vel turpis. Proin euismod, sem a mollis vestibulum, ligula elit faucibus erat, in dignissim sapien leo eget quam.</p>
              <ul class="icon-list">
                <li>
                  <span class="icon-list-icon fa fa-hand-o-up" data-animation="bounceIn" style="font: 100;"></span>
                  <h4 class="icon-list-title">Click Through</h4>
                  <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                </li>
                <li>
                  <span class="icon-list-icon fa fa-heart-o" data-animation="bounceIn"></span>
                  <h4 class="icon-list-title">Lead Generation</h4>
                  <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                </li>
                <li>
                  <span class="icon-list-icon fa fa-lightbulb-o" data-animation="bounceIn"></span>
                  <h4 class="icon-list-title">Other Purposes</h4>
                  <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                </li>
              </ul>
            </div>

          </div>

        </div>

      </section>