<section id="benefits" class="benefits-section section-gray section">

        <div class="container" style="padding-bottom:65px;">
  <div class="row" style="text-align:center">
    <h2>Compare Rates &amp; Convert</h2>
    <h4><kbd>If i send USD 100 to my family ghana, I pay</kbd></h4>
  </div>
  <div class="row" style="text-align:center;margin-top:35px">
    <div class="col-sm-4">
      <h3><span>USD 11%</span></h3>
      <img src="assets/ria-logo.png" alt="Ria logo" style="width:200px;height:55px">
    </div>
    <div class="col-sm-4">
      <h3><span>USD 7.9%</span></h3>
      <h2 style="margin-top:26px;font-weight:bold;color:white"><kbd>SUMASIKA</kbd></h2>
    </div>
    <div class="col-sm-4">
      <h3><span>USD 9.99%</span></h3>
      <img src="assets/moneytransfer_img_17.png" alt="money gram" style="width:200px">
    </div>
  </div>
  <div class="row" style="text-align:center;margin-top:35px">
    <h4 style="text-align:center"><i>Save up to <b>4%</b> with SUMASIKA!</i></h4><br>
   <!--  <button class="btn btn-success">Send Money Now!</button> -->
    <a class="btn btn-success" href="/dashboard/index">Send Money Now!</a>
  </div>
</div>

      </section>