<section id="closing" class="closing-section section-dark section">

        <div class="section-background">

          <!-- IMAGE BACKGROUND -->
          <div class="section-background-image parallax-background" data-stellar-background-ratio="0.4"></div>

        </div>

        <div class="container">

          <h3 class="closing-shout">SEND MORE MONEY TO GHANA</h3>

          <div class="closing-buttons"><a href="<%= dashboard_index_path%>" class="anchor-link btn btn-lg btn-primary">Send Now</a></div>

        </div>

      </section>