<section id="headline" class="headline-section section-gray section">

        <div class="container">

          <h2 class="section-heading text-center hidden">Tagline</h2>

          <div class="row">
            <div class="col-md-10 col-md-offset-1">

              <p class="headline-text">
                Designed with the best practices, <strong>DREW</strong> is a premium landing page template which cares much about design quality, functions, and the most important - your successful marketing campaign.
              </p>

            </div>
          </div>

        </div>

      </section>