<section id="hero" class="hero-section hero-layout-simple hero-fullscreen section section-dark">

        <div class="section-background">

          <!-- IMAGE BACKGROUND -->
          <div class="section-background-image parallax-background" data-stellar-background-ratio="0.4"></div>

          <!-- VIDEO BACKGROUND -->
          <!-- <div class="section-background-video section-background-dot-overlay parallax" data-stellar-ratio="0.4">
            <video preload="auto" autoplay loop muted poster="images/backgrounds/video-fallback-bg.jpg">
              <source type="video/mp4" src="videos/video-bg.mp4">
              <source type="video/ogg" src="videos/video-bg.ogv">
              <source type="video/webm" src="videos/video-bg.webm">
            </video>
          </div> -->

        </div>

        <div class="container">

          <div class="hero-content">

            <div class="row">
              <div class="col-md-10 col-md-offset-1">

                <div class="hero-heading" data-animation="fadeIn">

        <h2 class="hero-title" style="font-size: 35px;">Send Money to Ghana-cheaper and Faster</h2>

                  <p class="hero-tagline">Try the hottest new way to send or pay</p>

                </div>

                <p class="hero-buttons">
                  <a href="sessions/new" class="btn btn-lg btn-primary" style="width: 170px;">Login</a>
                  <a href="members/new" class="btn btn-lg btn-primary">Sign Up Now</a>
                </p>

              </div>
            </div>

          </div>

        </div>

        <!-- HERO START LINK -->
        <a href="#headline" class="hero-start-link anchor-link"><span class="fa fa-angle-double-down"></span></a>

      </section>