<section id="how-it-works" class="how-it-works-section section">

        <div class="container-fluid">
          
          <h2 class="section-heading text-center">How it Works</h2>

          <div class="hiw-row row">

            <!-- HOW IT WORKS - ITEM 1 -->
            <div class="col-md-3 col-sm-6" data-animation="fadeIn">
              <div class="hiw-item">
                <img class="hiw-item-picture" src="assets/transmoney_img_23.png"alt="">
                <div class="hiw-item-text">
                  <span class="hiw-item-icon">1</span>
                  <h4 class="hiw-item-title">Send Money form your XXXXXX</h4>
                  <p class="hiw-item-description">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.</p>
                </div>
              </div>
            </div>

            <!-- HOW IT WORKS - ITEM 2 -->
            <div class="col-md-3 col-sm-6" data-animation="fadeIn">
              <div class="hiw-item even">
                <img class="hiw-item-picture" src="assets/transmoney_img_25.png" alt="">
                <div class="hiw-item-text">
                  <span class="hiw-item-icon">2</span>
                  <h4 class="hiw-item-title">We Convert it to Ghana Cedis</h4>
                  <p class="hiw-item-description">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.</p>
                </div>
              </div>
            </div>

            <div class="hidden-md hidden-lg clear"></div>

            <!-- HOW IT WORKS - ITEM 3 -->
            <div class="col-md-3 col-sm-6" data-animation="fadeIn">
              <div class="hiw-item">
                <img class="hiw-item-picture" src="assets/transmoney_img_27.png" alt="">
                <div class="hiw-item-text">
                  <span class="hiw-item-icon">3</span>
                  <h4 class="hiw-item-title">Recipient receives mobile money instantly</h4>
                  <p class="hiw-item-description">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.</p>
                </div>
              </div>
            </div>

            <!-- HOW IT WORKS - ITEM 4 -->
            <div class="col-md-3 col-sm-6" data-animation="fadeIn">
              <div class="hiw-item even">
                <img class="hiw-item-picture" src="assets/transmoney_img_29.png" alt="">
                <div class="hiw-item-text">
                  <span class="hiw-item-icon">4</span>
                  <h4 class="hiw-item-title">Receives Money from Authorized Agencies</h4>
                  <p class="hiw-item-description">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.</p>
                </div>
              </div>
            </div>

          </div>

        </div>

      </section>