<section id="numbers" class="numbers-section section-dark section">

        <div class="section-background">

          <!-- IMAGE BACKGROUND -->
          <div class="section-background-image parallax-background" data-stellar-background-ratio="0.4"></div>

        </div>

        <div class="container">

          <h2 class="section-heading text-center">Sumasika in Numbers</h2>

          <div class="numbers-row row">

            <!-- NUMBERS - ITEM 1 -->
            <div class="col-md-3 col-sm-6">
              <div class="numbers-item">
                <div class="numbers-item-counter"><span class="counter-up">1,269</span></div>
                <div class="numbers-item-caption">Tickets solved</div>
              </div>
            </div>

            <!-- NUMBERS - ITEM 2 -->
            <div class="col-md-3 col-sm-6">
              <div class="numbers-item">
                <div class="numbers-item-counter"><span class="counter-up">99.8</span>%</div>
                <div class="numbers-item-caption">User Ratings</div>
              </div>
            </div>

            <!-- NUMBERS - ITEM 3 -->
            <div class="col-md-3 col-sm-6">
              <div class="numbers-item">
                <div class="numbers-item-counter"><span class="counter-up">754</span>k</div>
                <div class="numbers-item-caption">Total Users</div>
              </div>
            </div>

            <!-- NUMBERS - ITEM 4 -->
            <div class="col-md-3 col-sm-6">
              <div class="numbers-item">
                <div class="numbers-item-counter"><span class="counter-up">358</span> <span class="fa fa-coffee"></span></div>
                <div class="numbers-item-caption">Coffee Served</div>
              </div>
            </div>

          </div>

        </div>

      </section>