<section id="team" class="team-section section">

        <div class="container-fluid">
          
          <h2 class="section-heading text-center">Meet The Experts</h2>

          <div class="team-row row">

            <!-- TEAM MEMBER 1 -->
            <div class="col-lg-2 col-md-4 col-sm-6" data-animation="fadeIn">
              <div class="team-member">
                <img class="team-member-picture" src="assets/team1-u15873-r-fr.png" alt="">
                <div class="team-member-text">
                  <h4 class="team-member-name">Jason Castillo</h4>
                  <div class="team-member-position">CEO &amp; Co-Founder</div>
                  <p class="team-member-description">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                </div>
              </div>
            </div>

            <!-- TEAM MEMBER 2 -->
            <div class="col-lg-2 col-md-4 col-sm-6" data-animation="fadeIn">
              <div class="team-member even">
                <img class="team-member-picture" src="assets/team2.jpg" alt="">
                <div class="team-member-text">
                  <h4 class="team-member-name">Harold Kelly</h4>
                  <div class="team-member-position">CTO &amp; Co-Founder</div>
                  <p class="team-member-description">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                </div>
              </div>
            </div>

            <div class="hidden-md hidden-lg clear"></div>

            <!-- TEAM MEMBER 3 -->
            <div class="col-lg-2 col-md-4 col-sm-6" data-animation="fadeIn">
              <div class="team-member">
                <img class="team-member-picture" src="assets/team3-u15888-r-fr.png" alt="">
                <div class="team-member-text">
                  <h4 class="team-member-name">Kathy Nelson</h4>
                  <div class="team-member-position">Graphic Designer</div>
                  <p class="team-member-description">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                </div>
              </div>
            </div>

            <div class="hidden-sm hidden-lg clear"></div>

            <!-- TEAM MEMBER 4 -->
            <div class="col-lg-2 col-md-4 col-sm-6" data-animation="fadeIn">
              <div class="team-member even">
                <img class="team-member-picture" src="assets/team4.jpg" alt="">
                <div class="team-member-text">
                  <h4 class="team-member-name">Dylan Fowler</h4>
                  <div class="team-member-position">UI/UX Designer</div>
                  <p class="team-member-description">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                </div>
              </div>
            </div>

            <div class="hidden-md hidden-lg clear"></div>

            <!-- TEAM MEMBER 5 -->
            <div class="col-lg-2 col-md-4 col-sm-6" data-animation="fadeIn">
              <div class="team-member">
                <img class="team-member-picture" src="assets/item_0003_Layer-1.jpg" alt="">
                <div class="team-member-text">
                  <h4 class="team-member-name">Carolyn Harvey</h4>
                  <div class="team-member-position">Development</div>
                  <p class="team-member-description">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                </div>
              </div>
            </div>

            <!-- TEAM MEMBER 6 -->
            <div class="col-lg-2 col-md-4 col-sm-6" data-animation="fadeIn">
              <div class="team-member even">
                <img class="team-member-picture" src="assets/item_0000_Layer-4.jpg" alt="">
                <div class="team-member-text">
                  <h4 class="team-member-name">Diane Grant</h4>
                  <div class="team-member-position">Marketing &amp; Strategy</div>
                  <p class="team-member-description">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                </div>
              </div>
            </div>

          </div>

        </div>

      </section>