<section id="testimonial" class="testimonial-section section-gray section">

        <div class="section-background">

          <!-- IMAGE BACKGROUND -->
          <div class="section-background-image parallax-background" data-stellar-background-ratio="0.4"></div>

        </div>

        <div class="container">

          <h2 class="section-heading text-center">Trusted by Thousands</h2>

          <div class="sponsors-row" data-animation="bounceIn">
            <img src="assets/sponsor-1.png" alt="">
            <img src="assets/sponsor-2.png" alt="">
            <img src="assets/contents/sponsor-3.png" alt="">
            <img src="assets/contents/sponsor-4.png" alt="">
          </div>

          <div class="testimonial-row row">

            <!-- TESTIMONIAL ITEM 1 -->
            <div class="col-sm-6">
              <div class="testimonial">
                <blockquote class="testimonial-quote">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lectus dui, volutpat sed velit congue, pulvinar tristique nisi. Maecenas mollis rutrum bibendum. Etiam mollis diam risus, at varius ex dapibus sed. In in leo at sapien placerat sagittis.</p>
                </blockquote>
                <span class="testimonial-ratings">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </span>
                <cite class="testimonial-cite">John Doe, Company Inc.</cite>
              </div>
            </div>

            <!-- TESTIMONIAL ITEM 2 -->
            <div class="col-sm-6">
              <div class="testimonial">
                <blockquote class="testimonial-quote">
                  <p>Nulla lectus dui, volutpat sed velit congue, pulvinar tristique nisi. Maecenas mollis rutrum bibendum. Etiam mollis diam risus, at varius ex dapibus sed. In in leo at sapien placerat sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </blockquote>
                <span class="testimonial-ratings">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star-half-o"></span>
                </span>
                <cite class="testimonial-cite">Dohn Joe, Internet Marketer</cite>
              </div>
            </div>

          </div>

        </div>

      </section>