<div class="full_wrapper res_row aboutus_wrap">
     <div class="site_container">
     
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>     

        <ul class="clients_list">
         
         <li>
         
         <div class="client_img"><img src="/assets/men_03.png" class="resimg_wrap"></div>
         <h3>Mr. Jingles</h3> 
         <h4>Guard</h4> 
         <div class="social_img"><img src="/assets/social_icon_03.png"><img src="/assets/social_icon_05.png"><img src="/assets/social_icon_07.png"><img src="/assets/social_icon_09.png"></div>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
         </li>
        
        
        <li>
         
         <div class="client_img"><img src="/assets/men_03.png" class="resimg_wrap"></div>
         <h3>Mr. Jingles</h3> 
         <h4>Guard</h4> 
         <div class="social_img"><img src="/assets/social_icon_03.png"><img src="/assets/social_icon_05.png"><img src="/assets/social_icon_07.png"><img src="/assets/social_icon_09.png"></div>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
         </li>
         
         
         <li>
         
         <div class="client_img"><img src="/assets/men_03.png" class="resimg_wrap"></div>
         <h3>Mr. Jingles</h3> 
         <h4>Guard</h4> 
         <div class="social_img"><img src="/assets/social_icon_03.png"><img src="/assets/social_icon_05.png"><img src="/assets/social_icon_07.png"><img src="/assets/social_icon_09.png"></div>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
         </li>
        </ul>

         <div class="clear_fix"></div>


     </div>
 </div>