<div class="full_wrapper res_row madeit_wrap">
 <div class="site_container">
 
    <div class="madeit_left">
      <h3>We made it easy to send Money!!</h3>  
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
   </div>
   
   <div class="madeit_right"><img src="/assets/cell_03.png"></div>      
   
   <div class="clear_fix"></div>

 </div>
</div>

<div class="full_wrapper res_row howitwork_wrap">
       <div class="site_container">
      
         
          <div class="tansproc_wrap"> 
           <div class="transfer_process">

               <div class="transfer_process_img"><img src="/assets/transmoney_img_23.png"></div>
               <div class="transfer_process_tit">Send Money form your XXXXXX</div>
               <div class="shadow_img"><img src="/assets/shadow_03.png"></div><!--shadow_img-->
           
           </div> 
 

           <div class="transfer_process1">
              <img src="/assets/arrow_32.png">
           </div> 
           
           <div class="transfer_process3">
              <img src="/assets/arrow_33.png">
           </div> 
 

           <div class="transfer_process">

               <div class="transfer_process_img"><img src="/assets/transmoney_img_25.png"></div>
               <div class="transfer_process_tit">We Convert it to Ghana Cedis</div>
               <div class="shadow_img"><img src="/assets/shadow_03.png"></div><!--shadow_img-->
           
           </div> 
 

           <div class="transfer_process1">
              <img src="/assets/arrow_32.png">
           </div> 

           <div class="transfer_process3">
              <img src="/assets/arrow_33.png">
           </div> 

           <div class="transfer_process">

               <div class="transfer_process_img"><img src="/assets/transmoney_img_27.png"></div>
               <div class="transfer_process_tit">Recipient receives mobile money instantly</div>
               <div class="shadow_img"><img src="/assets/shadow_03.png"></div><!--shadow_img-->
           
           </div> 
 
           <div class="transfer_process1">
              Or
           </div> 
           <div class="transfer_process3">
              Or
           </div> 

           <div class="transfer_process">

               <div class="transfer_process_img"><img src="/assets/transmoney_img_29.png"></div>
               <div class="transfer_process_tit">Receives Money from Authorized Agencies</div>
               <div class="shadow_img"><img src="/assets/shadow_03.png"></div><!--shadow_img-->
           
           </div> 
 

           <div class="clear_fix"></div>

      </div><!--tansproc_wrap-->
      
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  Lorem ipsum dolor sit amet,
consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      
       </div>
  </div>