	<div class="panel panel-default" style="height:22em">
	   <div class="panel-heading">
	      <h3 class="panel-title">
	         <span class="glyphicon glyphicon-usd">
	         	
	         </span>
	      </h3>
	      <h3>
	      	Send Money To Any One
	      </h3>
	   </div>
	   <div class="panel-body">
			<form class="form-horizontal">
				<div class="form-group" style="margin-bottom:20px">
					<label class="col-sm-2 control-label">Send To*</label>
					<div class="col-sm-5">
					<input type="text" name="sendto" class="form-control">
					</div>
					<span>
						Loreum ipsum Loreum ipsum Loreum ipsum
					</span>

				</div>

				<div class="form-group" style="margin-bottom:20px">
					<label class="col-sm-2 control-label">Amount*</label>
					<div class="col-sm-5">
					<input type="text" name="amount" class="form-control">
					</div>
					<span>
						Cash:&#36;2.30
					</span>

				</div>

				<div class="form-group" style="margin-bottom:20px">
					<label class="col-sm-2 control-label">Source</label>
					<div class="col-sm-5">
					<select class="form-control">
					  <option>Lorum ipsum</option>
					  <option>2</option>
					  <option>3</option>
					  <option>4</option>
					  <option>5</option>
					</select>
					</div>
					<span>
						Select the funding source you like to use
					</span>

				</div>
			</form>
	   </div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-xs-push-11">
			 <button type="submit" class="btn btn-default">Next</button>
		</div>
	</div>
