<%= form_tag dashboard_create_path, :id => 'send_money', :class => 'form-inline' do %>
<div class="panel panel-default" style="height:50em">
	<div class="panel-heading">
	      <h3 class="panel-title">
	         <span class="glyphicon glyphicon-usd"></span>
	      </h3>
	      <h3>Send Money To Any One</h3>
	</div>
	<div class="panel-body" style="text-align:cener">
		    <h4><b>Amount Details:</b></h4>
		    <div class="row">
		        <div class="col-xs-12">
		        <div class="form-group">
					<div>
                  	  
				      <div class="form-group">
	                    <label class="" for="money">You want to send</label>
	                    <div class="input-group">
	                    <div class="input-group-addon">$</div>
	                    	<input type="text" class="form-control" id="money" name='money' style="width:165px">
	                    </div>
	                  </div>
					</div>
				</div>
                    <div>
				       <div class="form-group">
                       <label class="" for="exampleInputAmount">Receipt Receives</label>
                           <div class="input-group">
                            <div class="input-group-addon">GHS</div>
                           <input type="text" class="form-control" id="exampleInputAmount" style="width:139px">
                        
                         </div>
                       </div>  
                    </div>
                </div>                  
            </div>
			<hr>
			<h4><b>Receipient Details</b> </h4><br>

			<div class="row"> <!-- Receipient details -->
			<div class="col-xs-6" >				
                    <div class="form-group">
                     <label class="" for="first_name">First Name</label>
                        <div class="input-group">
                           <input type="text" class="form-control" id="first_name" name="first_name" style="width:198px">
                            
                             </div>
                           </div>
				
			</div>
			<div class="col-xs-6">				
                    <div class="form-group">
                     <label class="" for="last_name">Last Name</label>
                        <div class="input-group">
                           <input type="text" class="form-control" id="last_name" name='last_name' style="width:198px">
                        </div>
                    </div>
			</div>
			<div class="col-xs-6">				        
                  <div class="form-group">
                   <label class="" for="mtn">MTN Number</label>
                        <div class="input-group">
                           <div class="input-group-addon">MTN</div>
                           <input type="text" class="form-control" id="mtn" name="mtn" style="width:139px">
                        </div>
                   </div>
			</div>
			</div> <!-- Receipient Details -->
      <hr> 
       <input type="submit" class="btn btn-success pull-right">
     </div>

</div>
<%end %>