<%= render partial: 'breadcrumbs', :locals => {active: 'Dashboard'} %>

<div class="row row-bg">
	<div class="col-xs-3">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="pull-right text-right">
					<span>USERS</span><br><span>1205</span>
				</div>
				<div>
					<div class="statbox blue">
						<i class='glyphicon glyphicon-user'></i>
					</div>
				</div>
			</div>
			<div class="panel-heading">
			</div>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="pull-right text-right">
					<span>Admins</span><br><span>20</span>
				</div>
				<div class="statbox green">
					<i class='glyphicon glyphicon-lock'></i>
				</div>
			</div>
			<div class="panel-heading"></div>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="pull-right text-right">
					<span>Inflow Amount</span><br><span>$1,320</span>
				</div>
				<div class="statbox yellow">
					<i class='glyphicon glyphicon-stats'></i>
				</div>
			</div>
			<div class="panel-heading"></div>
		</div>
	</div>
	
</div>

<div class="row">
	<div class="col-xs-6">
		<div class="panel panel-info">
			<div class="panel-heading">Customers</div>
			<table class="table table-striped">
				<tr>
					<th></th>
					<th></th>
				</tr>	
			</table>
		</div>
	</div>
	<div class="col-xs-6">
		
	</div>
</div>