/* Fonts ========================================================================*/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
/* Reseting ====================================================================*/

 	
*{ margin:0px; padding:0px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
tr, th, legend { font-weight: normal;}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary 	{ display: block; }
audio,
canvas,
progress,
video 		{ display: inline-block; vertical-align: baseline;}
a			{ text-decoration:none; border:none; outline:none; color:#000;}
a:active,
a:hover 	{ outline: 0;}
img			{ border:none; outline:none}
ul			{ list-style:none; }
body        { background-color:#fff;   } 
h1			{ font-family: 'Raleway'; font-weight:300; }
h2			{ font-family: 'Raleway'; font-weight:300; }
h3			{ font-family: 'Raleway'; font-weight:300; text-align:center; }
h4			{ font-family: 'Raleway'; font-weight:300; }
h5          { font-family: 'Raleway'; font-weight:300; }
h6          { font-family: 'Raleway'; font-weight:300; }
p           { text-align:justify; font-family: 'Open Sans', sans-serif; color:#4c4c4c; padding-bottom:15px; font-size:13px;line-height: 19px; color: #6c767f; }
.clear_fix	{ width:100%; clear:both; } 
.res_images	{ width:100%; height:auto; }
.res_imagesbtn { width:80%; height:auto; }
.res_row	{ width:100%; clear:both; }

/* layouts ===============================================================================*/
.full_wrapper			{ width:100%; }
.site_container			{ width:98%; max-width:1004px; margin:0px auto; }
/* dividers ========================================================================*/
 
/*Styles ========================================================================*/

header { padding:0px 0px;  }
.site_logo  { float:left; }
.reglog_btn  { float:right; margin-top:18px;  }

.resimg_wrap  { width:100%; height:auto; }
.lavender_bg  { background:url(lavender_bg_08.png) no-repeat;  height:100px; margin-top:-2px; }
.lavender_bg h4 { color:#fff; text-align:center; font-size:40px; padding:25px 0px; }

.amount_wrap   { width:45%; margin:0px auto; padding:30px 0px;  }
.amount_wrap h3  { float:left; color:#fff; margin-right:10px;   }

.howit_work   { background-color:rgb(240, 238, 237); border-top:1px solid #dfdfdf;  border-bottom:1px solid #dfdfdf; padding:30px 0px; }
.howit_work h3{  color:#000; text-align:center; }

.transfer_process    { float:left; width:20%; background-color:#fff; -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px; padding:20px; }
.transfer_process_img  { margin-top:10px; width:100%; text-align:center; }
.transfer_process_tit  { color:#a3a3a3;font-family: 'Source Sans Pro', sans-serif; font-size:16px; text-align:center; }

.transfer_process1    { float:left; width:5%; text-align:center; margin-top:70px; }
.tansproc_wrap        { margin-top:30px; }
.sendmoney_left       { float:left; width:54%; padding-top:45px;  }

.sendmoney_right       { float:right; width:25%; padding-top:60px  }
.sendmoney_wrap       { ;background:url(fort_44.png) no-repeat right bottom; height:320px;  }
/* .sendmoney_wrap h1    { text-align:left; color:#000; width:100%; }
.sendmoney_wrap h1 span { text-align:left; color:#8b048f; }
.sendmoney_wrap p     { font-size:16px; color:#000; font-family: 'Source Sans Pro', sans-serif; padding:0px; margin-top:10px;  } */


.ssf_wrap          { background:url(lavender_bg1_02.png) no-repeat; height:401px; border-top:5px solid #dbdfdf;  border-bottom:5px solid #dbdfdf; }
.ssf_wrap h3       { color:#fff; text-align:center; padding-top:30px; padding-bottom:20px; }

.ssf_list          { width:100%; text-align:center;  }
.ssf_list li       { float:left; width:28.33%; margin:10px 2.5%; }
.ssf_list li h4    { font-family: 'Droid Serif', serif; font-size:16px; text-align:center; color:#fff; }
.ssf_list li p     { font-family: 'Droid Serif', serif; font-size:14px; text-align:center; color:#fff; margin-top:20px; }

footer  {  height:100px;  }
.footer_left   { float:left;  }
.footer_left p  { font-family: 'Source Sans Pro', sans-serif; font-size:12px; color:#a3a3a3; }
.footer_right   { float:right; padding:20px 0px;  }
.footer_right img  { margin-right:3px;  }

.menu_list   { margin-top:20px;  }
.menu_list li   { float:left; font-family: 'Source Sans Pro', sans-serif; font-size:13px; color:#000; }
.menu_list li a  { color:#000; padding-right:10px; }


.comaparerate_wrap>h3   { color:#000000; font-size:32px; text-align:center;  }
.comaparerate_wrap h4   { color:#8b048f; text-align:center; font-size:18px;  }

.ssf_list1          { width:100%; margin-top:20px;    }
.ssf_list1 li       { float:left; width:28.33%; margin:10px 2.5%; background:url(borders_03.png) no-repeat right center;   }
.ssf_list1 li:last-child       { background:none; }
.price            { font-family: 'Droid Serif', serif; font-size:18px; text-align:center; color:#000; margin-top:10px; }


.amount_wrap1   { width:45%; margin:0px auto; padding:10px; padding-bottom:20px;  }
.amount_wrap1>h3  { float:left; color:#f10c32; margin-right:10px;   }

.arrow_img { float:left; margin:10px 5px;  font-weight:400; } 
.align_center  { text-align:center; margin:0px auto;   }
.transfer_process3  { display:none;  }

.banner_img  { position:relative;  }
.banner_content  { position:absolute; float:right; top:52px; right:24%;  }
.banner_content h1  { font-size:57px; font-family: 'Raleway'; color:#fff; text-align:right; }
.banner_content h2  { font-size:47px; font-family: 'Conv_centuryGothic_bold';  color:#fff; text-align:right; }
.banner_content a   { background-color:#861e82; padding:8px 15px; display:block;  font-family: 'Conv_centuryGothic_bold';  color:#fff;                      font-size:18px; width:28%; float:right; margin-top:10px;  }
.banner_content p   { font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:12px; text-align:right; margin-top:6px; }


/* Login  */


.lavenderbg_wrap  { background:url(lavender2_bg_02.png) no-repeat;  height:142px; margin-top:-2px; }
.lavenderbg_wrap h4 { color:#fff; text-align:center; font-size:40px; padding:50px 0px; }

.login_wrap         { width:90%; margin:20px auto; -webkit-box-shadow: inset -1px -1px 4px 4px rgba(219,219,219,1);
-moz-box-shadow: inset -1px -1px 4px 4px rgba(219,219,219,1);
box-shadow: inset -1px -1px 4px 4px rgba(219,219,219,1); border:1px solid #b2b2b2; }

.login_form       { width:70%; margin:40px auto; }
.login_form li    { margin:10px auto; }
.login_left       { float:left; width:30%; margin-top:5px; font-size:20px; font-family: 'Raleway'; color:#000; text-align:right;  }
.login_right      { float:right; width:68%; font-family: 'Raleway'; color:#000; font-size:14px; }

.login_link         {  font-family: 'Conv_centuryGothic_bold'; font-size:14px; color:#333333; margin-top:5px;  }
.login_right a      {  font-family: 'Conv_centuryGothic_bold'; font-size:14px; color:#89008d;  }

/* end of Login */

/* How it Work */

.howitwork_wrap   { padding-top:0px; padding-bottom:80px;  }
.howitwork_wrap p { font-family: 'Raleway'; color:#000; font-size:14px; text-align:center; margin-top:20px; }
.shadow_img       { margin-top:10px; text-align:center;  }
.madeit_wrap      { background-color:#f3f2f7;  }
.madeit_left      { float:left; width:50%; padding-top:120px;  }
.madeit_left h3   { font-size:30px; font-family: 'Droid Serif', serif; color:#353535; text-align:left; }
.madeit_left p    { font-size:16px; font-family: 'Droid Serif', serif; color:#353535; text-align:left;  }
.madeit_right     {  float:left;  }

/* How it Work */

/*  About us  */


.aboutus_wrap   { padding-top:30px; padding-bottom:80px;  }
.aboutus_wrap p { font-family: 'Raleway'; color:#000; font-size:14px; text-align:center; margin-top:20px; }
.clients_list   { }
.clients_list li{ float:left; width:26.33%; margin:10px 3.5%; border:1px solid #eeeeee;  }
.client_img      { padding:8px; }
.clients_list h3  { font-family: 'Raleway'; color:#000; font-size:18px; text-align:center; margin-top:10px; }
.clients_list h4  { font-family: 'Source Sans Pro', sans-serif; color:#888888; font-size:16px; text-align:center; margin-top:5px; }
.clients_list p  { font-family: 'Raleway'; color:#000; font-size:14px; text-align:center; padding:10px 20px; margin-top:0px;  margin-bottom:30px; }
.social_img       { text-align:center; padding-bottom:10px; border-bottom:1px solid #eeeeee;  }
.social_img img   { margin-right:3px; margin-top:20px; }


/*  About us  */


@media screen and (max-width: 980px)
{
.transfer_process  { min-height:200px;  }
.banner_content h1  { font-size:38px;  }
.banner_content h2  { font-size:32px;    }
.banner_content a  {  width:42%;   }

}
@media screen and (max-width: 800px)
{
.amount_wrap {width:55%; }
.amount_wrap1 {width:55%; }
.sendmoney_wrap { background:none;  }
.sendmoney_left { width:100%; margin:20px auto; padding-top:0px;  }

/* Login */
.login_left { font-size:16px;  }
/* Login */
}

@media screen and (max-width: 768px)
{
.amount_wrap {width:65%; }
.amount_wrap1 {width:65%; }

}

@media screen and (max-width: 680px)
{

.madeit_left  { float:none; width:100%; clear:both;  padding:30px 0px;}
.madeit_right { float:none; width:100%; clear:both; display:none; }

}
@media screen and (max-width: 640px)
{
.amount_wrap {width:75%; }
.amount_wrap1 {width:75%; }
.ssf_list li  { width:100%; float:none; clear:both; margin:0px auto; }

.ssf_wrap {
    background: url("lavender_bg1_02.png") repeat-y 0 0 rgba(0, 0, 0, 0);
    height: auto;
}
.sendmoney_wrap h1  { font-size:36px;  }
.transfer_process   { float: none;  width: 90%; margin:10px auto; min-height:auto; }
.transfer_process1  { display:none; margin-top:0px;   }
.transfer_process3  { display:block; width:100%; text-align:center;  }
.banner_content { right:5%; top:29px;  }
.banner_content h1  { font-size:28px;  }
.banner_content h2  { font-size:18px;    }
.banner_content a  {  width:60%;   }
/* Login */
.login_left { font-size:14px;  }
/* Login */

}

@media screen and (max-width: 540px)
{
.amount_wrap {width:85%; }
.amount_wrap1 {width:85%; }
.sendmoney_wrap h1 {   font-size: 24px;}
.footer_left  { float:none; width:60%; text-align:center; margin:10px auto;  }
.footer_right  { float:none; width:100%; text-align:center;  }
.banner_content { right:5%; top:15px;  }

/*about us */
.clients_list li{ float:none; width:100%; margin:10px 0%; border:1px solid #eeeeee;  }
.resimg_wrap  { width:223px; height:265px;   }
.client_img   { text-align:center;  }
/*about us */
/* Login */
.login_left { float:none; width:100%; clear:both; text-align:left;  }
.login_right { float:none; width:100%; clear:both;  }
/* Login */

}
@media screen and (max-width: 480px)
{
.amount_wrap {width:100%; }
.amount_wrap1 {width:100%; }

.lavender_bg {
    background: url("lavender_bg_08.png") repeat-y 0 0 rgba(0, 0, 0, 0);
    height:auto;
    margin-top: -2px;
}
.amount_wrap h3 { float:none; width:100%; text-align:center;  }

.amount_wrap1 h3 { float:none; width:100%; text-align:center;  }
.amount_wrap1 input[type="text"] { float:none; width:60%; text-align:center; margin:5px 20%;  }
.amount_wrap1 input[type="submit"] { float:none; width:60%; text-align:center; margin:5px 20%;  }
.arrow_img  { display:none; margin:0px auto;  }
h3 {
    font-size: 24px;}
.banner_content { right:5%; top:29px;  }
.banner_content h1  { font-size:18px;  }
.banner_content h2  { font-size:14px;    }
.banner_content a  {  width:72%; text-align:center; font-size:14px;  }

/* how it work */

.madeit_left p {
    color: #353535;
    font-family: "Droid Serif",serif;
    font-size: 13px;
    text-align: left;
}

.madeit_left h3 {
    color: #353535;
    font-family: "Droid Serif",serif;
    font-size: 24px;
    text-align: left;
}
/* how it work */

}
@media screen and (max-width: 360px)
{
.site_logo  { float:none; width:100%; text-align:center;  }	
.reglog_btn { float: none; margin: 10px auto; text-align: center; width: 50%; }	
h3 {    font-size: 22px;}
	.banner_content { top:13px; }

}
@media screen and (max-width: 320px)
{

.reglog_btn { float: none; margin: 10px auto; text-align: center; width: 55%; }	
	.banner_content { top:3px; }

}




/* Sid */

.full-module{
    width: 100%;
    padding: 3em 0;
    text-align: center;
    color: white;
}

.home-header {
    padding-top: 0;
    height: 650px;
    background: black url(/assets/main-banner.jpg) center bottom 3em no-repeat;
    background-clip: content-box;
    background-size: inherit;
    position: relative;
}

.sendmoney{
    margin-top:5%;
}

.quform-spacer {
    padding-bottom: 14px;
    height: 1px;
    height: auto;
    min-height: 1px;
}
.quform input{
    background-color: gainsboro;
}

.contactme{
    color: white;
    background: #2a2a2a;
    padding-bottom: 20px;
}

.contactme p{
    color: rgb(201, 198, 198);
}

div#header, div#introduction, div#action, div#tour, div#notify, div.invite-info, div.box, div#footer {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#doc {
position: relative;
width: 940px;
margin: 0 auto;
}

#doc>nav {
position: absolute;
z-index: 20;
width: 190px;
left: 0;
top: 4px;
bottom: 4px;
text-shadow: 0 1px 0 rgba(255,255,255,0.65);
border-radius: 5px 0 0 5px;
background: #eee;
background: rgba(255,255,255,0.25);
box-shadow: inset 0 1px 0 rgba(255,255,255,0.6),0 0 1px 1px rgba(80,84,92,0.1),0 1px 2px rgba(80,84,92,0.2);
}

#doc #content {
position: relative;
z-index: 30;
background: #fff;
background: rgba(255,255,255,0.8);
margin-left: 190px;
border-radius: 5px;
box-shadow: 0 0 1px 1px rgba(80,84,92,0.1),0 1px 2px rgba(80,84,92,0.5);
}

div#header h1 {
text-indent: -999em;
float: left;
margin: 20px 0 0 -1px;
width: 72px;
height: 31px;
}

div.navigation {
padding-top: 24px;
position: relative;
}

div#header div.account-dropdown-view {
color: #555;
margin: 3px -22px 0 0;
float: right;
width: 143px;
position: relative;
height: 17px;
}
div#header div.account-dropdown-view a.account {
font-size: 11px;
line-height: 16px;
color: #555;
position: absolute;
z-index: 145;
display: block;
padding: 11px 0 0 14px;
height: 28px;
width: 121px;
margin: -11px 0 -0 -10px;
text-shadow: 0 1px 0 rgba(255,255,255,0.5);
top: 0;
text-decoration: none;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
-ms-border-radius: 6px;
-o-border-radius: 6px;
border-radius: 6px;
}
div#header div.submenu {
background: #fff;
position: absolute;
top: -12px;
left: -20px;
z-index: 140;
width: 135px;
display: none;
margin-left: 10px;
padding: 40px 0 5px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
-ms-border-radius: 6px;
-o-border-radius: 6px;
border-radius: 6px;
-webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.45);
-moz-box-shadow: 0 2px 8px rgba(0,0,0,0.45);
-ms-box-shadow: 0 2px 8px rgba(0,0,0,0.45);
-o-box-shadow: 0 2px 8px rgba(0,0,0,0.45);
box-shadow: 0 2px 8px rgba(0,0,0,0.45);
}

div#header div.account-dropdown-view em {
display: block;
float: left;
margin-right: 10px;
z-index: 100;
position: relative;
width: 16px;
height: 16px;
background-size: 16px 16px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
-ms-border-radius: 2px;
-o-border-radius: 2px;
border-radius: 2px;
}
div#header div.account-dropdown-view ul {
font-size: 11px;
border-top: 1px solid #e8e8e8;
padding-top: 4px;
}
div#header div.account-dropdown-view li a {
display: block;
padding: 6px 15px;
color: #333;
font-family: arial;
font-weight: bold;
border-top: 1px solid transparent;
border-bottom: 1px solid transparent;
}

div.navigation ul.global {
float: right;
margin-right: 12px;
position: relative;
padding: 2px 6px;
}
div.navigation ul.global li {
display: block;
float: left;
padding: 0 2px;
}

div.navigation ul.global a {
display: block;
font-size: 11px;
color: #595f69;
padding: 3px 10px;
text-shadow: 0 1px 0 white;
text-decoration: none;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
-ms-border-radius: 10px;
-o-border-radius: 10px;
border-radius: 10px;
-webkit-transition: color 150ms ease;
}
div.navigation ul.global a.selected {
text-shadow: 0 1px 0 rgba(255,255,255,0.5);
background: transparent;
background: -webkit-linear-gradient(rgba(168,176,188,0.4),rgba(168,176,188,0.15));
background: -moz-linear-gradient(rgba(168,176,188,0.4),rgba(168,176,188,0.15));
background: -ms-linear-gradient(rgba(168,176,188,0.4),rgba(168,176,188,0.15));
background: -o-linear-gradient(rgba(168,176,188,0.4),rgba(168,176,188,0.15));
background: linear-gradient(rgba(168,176,188,0.4),rgba(168,176,188,0.15));
box-shadow: inset 0 0 1px rgba(114,125,150,0.4),inset 0 1px 0 rgba(114,125,150,0.4),0 1px 0 rgba(255,255,255,0.7);
}

#bgimg
{
                        
    background:url(/assets/memberglobe.png) no-repeat center center fixed;
    -moz-background-size: cover;

    -webkit-background-size: cover;

    -o-background-size: cover;

     background-size: cover;
}

.signuphed
{
    color: white;
    text-shadow: 1px 1px #9D9D9D;
    font-weight: 600
}
.signuphed3
{
    color: white;
    font-weight: 600;
    padding-left: 126px;
    margin-top: -2px;
}
.signuphed3 a
{
    color: #125187;

}


#send_money .form-group{
     margin-bottom:18px !important;
}

#user_country{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.statbox{
    min-width: 20px;
    min-height: 17px;
    padding: 13px;
    text-align: center;
    margin-right: 10px;
    float: left;
    overflow: hidden;
    color: #fff;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.red{
    background: #E25856;
}
.row-bg {
background-color: #f9f9f9;
border-top: 1px solid #d9d9d9;
border-bottom: 1px solid #d9d9d9;
margin: 0 -20px!important;
margin-bottom: 25px!important;
padding-left: 5px;
padding-right: 5px;
padding-top: 25px;
-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.15) inset;
-moz-box-shadow: 0 0 1px rgba(0,0,0,0.15) inset;
box-shadow: 0 0 1px rgba(0,0,0,0.15) inset;
}
.yellow{
    background: #FFB848;
}
.green{
    background: #94B86E;
}
.blue{
    background: #6DADBD;
}
.pad20{
    padding-bottom: 20px;
}

.dl-horizontal dd{
    text-align:left;
}
.base-color{
    color: #9E8C3C;
}
.base-background{
    background: url(/assets/patblue.jpg);
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}
.base-background h3{
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 1px 4px 6px rgb(161, 161, 161);
    -webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 20px rgb(161, 161, 161);
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
    -moz-transition: width 0.
}
.text-glow{
    text-shadow: 1px 4px 6px rgb(229, 229, 162);
    -webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 20px rgb(229, 229, 162);
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
    -moz-transition: width 0.3s;
    -o-transition: width 0.3s;
        
}

.nav .active {
    background: #888473;
    border-radius: 2px;
    
}
.nav .active a{
    color: white;
}
.nav .active a:hover{
    color: black;
}

#dashboard-menu{
    background: white;
}