<div class="panel panel-default">
 <div class="panel-heading" style="padding:0px; text-align:center; background-color:#90F185;">
    <span class="glyphicon glyphicon-ok" style="font-size: 65px;"></span>
	<h3>Your payment has been submitted sucessfuly</h3>
 </div>
 <div class="panel-body">
 	<div class="row">
	 	<div class="col-xs-6 col-xs-push-3">
			<div class="panel panel-default">
				<div class="panel-body" style="text-align:center">
					<table width="300">
						<tr>
							<td>Total Amount:</td>
							<td>$<%= @amount %></td>

						</tr>
						<tr>
							<td>Total Fees:</td>
							<td>&#36;0.00</td>
						</tr>
						<tr>
							<td>Funding Source</td>
							<td>abc</td>

						</tr>
						<tr>
							<td>Job reference id</td>
							<td><%= params[:tokener] %></td>

						</tr>
						<tr>
							<td>Status</td>
							<td>Complete</td>

						</tr>
						
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 " style="text-align:center;">
					<strong>Did you know?</strong>
					<span>Lorum ipsum dolar Lorum ipsum dolar Lorum ipsum</span>
				</div>
			</div>
	 	</div>
 	</div>
</div>
				
