<!-- --------------------error message ------------------>
<div class="modal fade" id="error" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
        	<h5 class="text-danger"> <%=flash[:error].capitalize unless flash[:error].nil? %></h5>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<!-- --------------------notice message ------------------>
<div class="modal fade" id="notice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
        	<h5 class="text-success"><%=flash[:notice].capitalize unless flash[:notice].nil? %></h5>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript">
    $("document").ready(function(){
     <% unless flash[:notice].nil? %>
        $("#notice").modal("toggle");
     <%end %>
     <% unless flash[:error].nil? %>
        $("#error").modal("toggle");
     <%end %>
    });
 </script>
