
<footer class="full_wrapper res_row" >
    <div class="site_container">
    
      <div class="footer_left">
      
       <ul class="menu_list">
        
        <li><a href="#">How it works</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">LEGAL</a></li>
       <div class="clear_fix"></div>
       </ul>
       <p style="font-size:13px;">©  2015 Sumasika . All rights reserved.  </p>

      
      </div>
      <div class="footer_right">
      <%= link_to 'https://www.facebook.com/sumasikaghana' , :class=>'btn btn-social-icon btn-facebook', :target => '_blank' do %>
       
          <i class="fa fa-facebook"></i>
       
       <% end %>

       <%= link_to '#' , :class=>'btn btn-social-icon btn-twitter' do  %>
          <i class="fa fa-twitter"></i>
       <% end %>

      <%= link_to '#' , :class=>'btn btn-social-icon btn-google-plus' do %>
          <i class="fa fa-google-plus"></i>
       <% end %>

       <%= link_to '#' , :class=>'btn btn-social-icon btn-linkedin' do %>
          <i class="fa fa-linkedin"></i>
       <% end %>

       <!--  <a href="#"><img src="/assets/social_icons_59.png"></a>
        <a href="#"><img src="/assets/social_icons_61.png"></a>
        <a href="#"><img src="/assets/social_icons_63.png"></a>
        <a href="#"><img src="/assets/social_icons_65.png"></a> -->
       
      </div>
      
      <div class="clear_fix"></div>
    
    
    </div>
</footer>