<footer class="full_wrapper res_row">
    <div class="site_container">
    
      <div class="footer_left">
      
       <ul class="menu_list">
        
        <li><a href="#">How it works</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">LEGAL</a></li>
       <div class="clear_fix"></div>
       </ul>
       <p>©  2015 Sumasika . All rights reserved.  </p>

      
      </div>
      <div class="footer_right">
        <a href="#"><img src="/assets/social_icons_59.png"></a>
        <a href="#"><img src="/assets/social_icons_60.png"></a>
        <a href="#"><img src="/assets/social_icons_61.png"></a>
        <a href="#"><img src="/assets/social_icons_63.png"></a>
        <a href="#"><img src="/assets/social_icons_65.png"></a>
        <a href="#"><img src="/assets/social_icons_67.png"></a>
        <a href="#"><img src="/assets/social_icons_69.png"></a>
        <a href="#"><img src="/assets/social_icons_71.png"></a>
        <a href="#"><img src="/assets/social_icons_73.png"></a>
        <a href="#"><img src="/assets/social_icons_75.png"></a>
      </div>
      
      <div class="clear_fix"></div>
    
    
    </div>
</footer>