<section id="footer" class="footer-section section">

        <div class="container">

          <h3 class="footer-logo">
            <img src="assets/logo.png" srcset="assets/logo.png" alt="Drew">
          </h3>

          <div class="footer-socmed">
            <a href="#" target="_blank"><span class="fa fa-facebook"></span></a>
            <a href="#" target="_blank"><span class="fa fa-twitter"></span></a>
            <a href="#" target="_blank"><span class="fa fa-instagram"></span></a>
            <a href="#" target="_blank"><span class="fa fa-pinterest"></span></a>
          </div>

          <div class="footer-copyright">
            &copy; 2015 Sumasika . All rights reserved.

   
          </div>

        </div>

      </section>